###############################
# SERVER SETUP
###############################

# Disallow users to access a page without a slash
DirectorySlash off

# Disallow users to access file directories
Options -Indexes

# Allow the server to rewrite URLs
RewriteEngine On



###############################
# ROUTES
###############################

# Send everything to the routing file
RewriteRule		.*			routing.php					[L,QSA]



###############################
# ERROR DOCUMENTS
###############################

# WARNING: HARDCODED
ErrorDocument 403 /Spotify%20Labelling/AAA_API/errors/403.php
ErrorDocument 404 /Spotify%20Labelling/AAA_API/errors/404.php
ErrorDocument 404 /Spotify%20Labelling/AAA_API/errors/405.php

