###############################
# SERVER SETUP
###############################

# Disallow users to access a page without a slash
DirectorySlash off

# Disallow users to access file directories
Options -Indexes

# Allow the server to rewrite URLs
RewriteEngine On



###############################
# ROUTES
###############################

# Send everything to the routing file
RewriteRule		.*			routing.php					[L,QSA]
