h1 {
	font-size: 1.8rem;
	margin: 1rem 0 3rem 0;
}





/**
 * Tables
 */
button.icon {
	border: none;
	background: none;
	transition: .25s ease-out;
}
button.icon > img {
	display: block;
	height: 24px;
	width: auto;
}
button.icon:focus, button.icon > img:focus, button.icon:focus > img {
	outline: none;
}






/**
 * Navigation
 */
.nav-btn {
	position: absolute;
	top: 1em;
	left: 0.5em;
}
.nav .nav-btn {
	right: 1em;
	left: auto;
}


.nav {
	top: 0;
	left: -90vw;
	position: fixed;
	z-index: 90;
	background: var(--current--background-highlight);
	height: 110vh;
	width: 90vw;
	transition: .3s ease-out;
}
.nav.open {
	left: 0;
}

.nav ul {
	list-style-type: none;
	width: calc(90vw - 1em - 2em - 32px); /* nav width - nav margin - btn margin - btn size */
	margin: 3em 1em;
}
.nav li {
	width: 100%;
	transition: .2s ease-out;
}
.nav a {
	display: block;
	width: 100%;
	padding: 0.5em;
	font-size: 1.25em;
	text-decoration: none;
}
.nav li:hover {
	margin-left: 0.5em;
}
.nav a:hover, .nav a:active, .nav a:focus {
	color: var(--current--highlight);
}





/**
 * Modules
 */
.module {
	margin: 3em 0;
	padding: 0 1em;
}
.module.text {
	padding: 0 2em;
	font-size: 1.125rem;
}
.module.text h2 {
	margin-top: 1em;
}
.module.text p + p {
	margin-top: 1em;
}

.module {
	width: 100%;
}
.table-container {
	overflow: auto;
	width: 100%;
}
.table-container.limit-height {
	max-height: 50vh;
}
.table-container button.icon {
	margin: 8px 8px 0 0;
}
table {
	border-collapse: collapse;
	border: 2px solid var(--current--text);
	width: 100%;
}
table * {
	white-space: nowrap;
	font-size: 1.1rem;
}
table td {
	padding: 0.5em;
}
table tr:nth-child(2n) {
	border: 2px solid var(--current--text);
}

.table-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 10px 10px 0 0;
}


