h1 {
	font-size: 1.8rem;
	margin: 1rem 0 3rem 0;
}





/**
 * Navigation
 */
.nav-btn {
	position: absolute;
	top: 1em;
	left: 0.5em;
}
.nav .nav-btn {
	right: 1em;
	left: auto;
}


.nav {
	top: 0;
	left: -90vw;
	position: fixed;
	background: var(--current--background-highlight);
	height: 110vh;
	width: 90vw;
	transition: .3s ease-out;
}
.nav.open {
	left: 0;
}

.nav ul {
	list-style-type: none;
}
.nav a {
	font-size: 1.1em;
}





/**
 * Modules
 */
.module {
	margin-top: 3em;
}


