h1 {
	margin: 0.5em 0 1.5em 0;
}

.nav {
	margin-left: 2em;
}





/**
 * Navigation
 */
.nav-btn {
	position: absolute;
	top: 1.15em;
	left: 0.2em;
}

.nav ul {
	list-style-type: none;
}
.nav a {
	font-size: 1.1em;
}





/**
 * Modules
 */
.module {
	margin-top: 3em;
}


