:root {

	/* Light theme variables */
	--light--background: #FFF;
	--light--text: #333;
	--light--placeholder: #AAA;
	--light--link: #02B;

	/* Dark theme variables */
	--dark--background: #111;
	--dark--text: #FFF;
	--dark--placeholder: #888;
	--dark--link: #06D;

	/* Current theme variables (initially dark theme) */
	--current--background: #111;
	--current--text: #FFF;
	--current--placeholder: #888;
	--current--link: #888;

}




* {
	margin: 0;
	padding: 0;
	font-family: "Fjalla One", sans-serif;
}

h1 {
	font-size: 2em;
	letter-spacing: 0.1ch;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 3em 0;
}



