:root {

	/* Light theme variables */
	--light--background: #FFF;
	--light--background-highlight: #EEE;
	--light--text: #333;
	--light--placeholder: #AAA;
	--light--link: #02B;
	--light--highlight: #1DB954;

	/* Dark theme variables */
	--dark--background: #111;
	--dark--background-highlight: #000;
	--dark--text: #FFFD;
	--dark--placeholder: #888;
	--dark--link: #06D;
	--dark--highlight: #1DB954;

	/* Current theme variables (initially dark theme) */
	--current--background: #111;
	--current--background-highlight: #000;
	--current--text: #FFFD;
	--current--text-low: #AAAD;
	--current--placeholder: #888;
	--current--link: #06D;
	--current--highlight: #1DB954;

	--current--success: #0C0;
	--current--warning: #D87E07;
	--current--error: #C00;
	--current--info: #00C;

}



* {
	margin: 0;
	padding: 0;
	color: var(--current--text);
	font-family: "Fjalla One", sans-serif;
	box-sizing: border-box;
	transition: 0.25s ease background, 0.25s ease color;
}



@media screen and (max-device-width: 768px) {
	* {
		cursor: none;
	}
}



html {
	background-color: var(--current--background);
}

h1 {
	font-size: 2em;
	letter-spacing: 0.25ch;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 2.5em 0;
}
h1 * {
	text-decoration: none;
}





p.footer {
	position: absolute;
	bottom: 2rem;
	font-size: 1rem;
	width: 100vw;
	text-align: center;
	text-transform: uppercase;
	color: var(--current--text);
}
p.footer a {
	color: var(--current--link);
}





/**
 * Standard styling
 */
.border--red {
	border-color: #700 !important;
}
.border--red:hover {
	color: #FFF !important;
}



/**
 * Icon buttons
 */
 button.icon {
	border: none;
	background: none;
	transition: .25s ease-out;
}
button.icon > img {
	display: block;
	height: 24px;
	width: auto;
}
button.icon:focus, button.icon > img:focus, button.icon:focus > img {
	outline: none;
}

.controls {
	float: right;
}
.controls button.icon {
	margin: 1em;
}
