.option-popup {
	position: fixed;
	bottom: -10em;
	width: 100vw;
	max-height: 50vh;
	overflow: auto;
	background: var(--current--background-highlight);
	box-shadow: 0 -0.5em 1em 0.5em var(--current--background-highlight);
	transition: 400ms ease;
}
.option-popup .row {
	width: 80vw;
	margin: 0 auto;
	display: flex;
	font-size: 1.2em;
	padding: 0.5em 0;
}
.option-popup .icon {
	margin-right: 1em;
}
