.table-container > .row {
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
}
.table-container > .row p {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-size: 1.2em;
	line-height: 2em;
	max-width: 80vw;
	overflow: hidden;
}
.table-container > .row:not(:last-child) {
	border-bottom: 2px solid var(--current--text);
}